@font-face {
  font-family:"Naiv";
  src:url(http://metamap.ouishare.net/assets/normal);
  src:url(http://metamap.ouishare.net/assets/normal?#iefix) format("embedded-opentype"),
  url(http://metamap.ouishare.net/assets/naiv_normal-webfont.ttf) format("truetype"),
  url(http://metamap.ouishare.net/assets/naiv_normal-webfont.otf) format("opentype"),
  url(http://metamap.ouishare.net/assets/naiv_bold-webfont.ttf) format("truetype"),
  url(http://metamap.ouishare.net/assets/naiv_bold-webfont.eot) format("embedded-opentype")
}

@font-face{
  font-family:"Ouishare Stencil";
  src:url(http://metamap.ouishare.net/assets/ouishare_stencil_bold-webfont.ttf) format("truetype"),
    url(http://metamap.ouishare.net/assets/ouishare_stencil_bold-webfont.otf) format("opentype")
}

@font-face{
  font-family:"Naiv Bold";
  src:url(http://metamap.ouishare.net/fonts/bold);
  src:url(http://metamap.ouishare.net/fonts/bold?#iefix) format("embedded-opentype"),
  url(http://metamap.ouishare.net/assets/naiv_bold-webfont.ttf) format("truetype"),
  url(http://metamap.ouishare.net/assets/naiv_bold-webfont.eot) format("embedded-opentype")
}

body, ul, li, a {font-family: "Naiv", Verdana, Arial, sans-serif;}

.contain-to-grid { border-bottom: none !important; }
div.map-text {
  z-index: 1; 
  width:100%; 
  height:30px; 
  background:#424242;
  position:fixed; 
  top:21px;
  text-align:center;
  font-size:0.9em;
  line-height:30px;
   /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  /* Standard syntax */
  transition-property: top;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
div.map-text:hover { top: 45px; }
div.map-text span {width:60%;margin: 0 auto; color: #FFF; }
div.map-text a { color: #4fb5c0; }
iframe#map { width:100%; position: relative; top: 50px; border:none; margin:0; padding:0; overflow:hidden; z-index:0;}

@media (max-width: 768px) {
   div.map-text span{width:90%;}
   iframe#map {top:16%; height:84%;}

}
@media (max-width: 350px) {
   div.map-text span{width:90%;}
   iframe#map {top:20%; height:80%;}

}
