@font-face{font-family:"Naiv";src:url(/fonts/naiv_normal-webfont.ttf) format("truetype"),url(/fonts/naiv_normal-webfont.otf) format("opentype")}@font-face{font-family:"Ouishare Stencil";src:url(/fonts/ouishare_stencil_bold-webfont.ttf) format("truetype"),url(/fonts/ouishare_stencil_bold-webfont.otf) format("opentype")}

body, ul, li, a {font-family: "Naiv", Verdana, Arial, sans-serif;}

div.map-text {width:100%; height:auto; background:#fff;position:fixed; top:50px;text-align:center;font-size:0.9em;line-height:auto;}
div.map-text span {width:60%;margin: 0 auto;}
iframe#map {position:fixed; left:0px; bottom:0px; right:0px; width:100%; height:89%; border:none; margin:0; padding:0; overflow:hidden; z-index:99;}

@media (max-width: 768px) {
   div.map-text span{width:90%;}
   iframe#map {top:16%; height:84%;}

}
@media (max-width: 350px) {
   div.map-text span{width:90%;}
   iframe#map {top:20%; height:80%;}

}
